{% extends 'base.html' %}

{% block content %}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="style.css">
<p>Welcome this is my test page 3</p>

<p>My favourite bands are:</p>

<table style="width: 50%">
    <tr>
        <th>Band</th>
        <th>Song</th>
        <th>Album</th>
        <th>Rating</th>
    </tr>
    {% for item in favourite_bands %}
    <tr>
        <td>{{ item.band }}</td>
        <td>{{ item.song.name }}</td>
        <td>{{ item.song.album }}</td>
        <td>{{ item.song.rating }}</td>
    </tr>
    {% endfor %}
</table>


<form action="{{ url_for('bands') }}" method="post">
    <input type="text" name="added_band" id="addBand" placeholder="Add a Band!">
    <input type="text" name="added_song" id="addSong" placeholder="Add a Song!">
    <input type="text" name="added_album" id="addAlbum" placeholder="Add an Album!">

    <div class = "container">
        <div class= "rating">
            <input type="radio" name="rating" id="star-1" class="rating-radio" value="1">
            <label for="star-1"><i class="fa-solid fa-star"></i></label>

            <input type="radio" name="rating" id="star-2" class="rating-radio" value="2">
            <label for="star-2"><i class="fa-solid fa-star"></i></label>

            <input type="radio" name="rating" id="star-3" class="rating-radio" value="3">
            <label for="star-3"><i class="fa-solid fa-star"></i></label>

            <input type="radio" name="rating" id="star-4" class="rating-radio" value="4">
            <label for="star-4"><i class="fa-solid fa-star"></i></label>

            <input type="radio" name="rating" id="star-5" class="rating-radio" value="5">
            <label for="star-5"><i class="fa-solid fa-star"></i></label>
        </div>
    </div>
    <button type="submit">Submit Here</button>
</form>


{% endblock %}