<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is my page2 website</title>
</head>
<body>
    <h1>Welcome to page2 of my website</h1>
    <nav>
        <a href="{{ url_for('index')}}">Home</a>
        <a href="{{ url_for('page2')}}">Page 2</a>
        <a href="{{ url_for('my_name')}}">Learn my Name</a>
    </nav>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque esse, quis vero, voluptas nemo officia earum nihil voluptatibus repellendus sint provident? Magnam hic accusantium nihil a, nobis placeat est quas?</p>
</body>
</html>